@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Inter:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', Arial, sans-serif;
}

.body {
    user-select: none;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #ffffff;
    text-align: center;
    position: relative;
    user-select: none;
}

.arrow {
    font-size: 3rem; 
    color: #000000;
    cursor: pointer;
    position: absolute; 
    bottom: 20px; 
    right: 20px;
    animation: bounce 1.5s infinite;
    user-select: none;
    margin-right:10px;
    padding: 15px;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-5px);
    }
}


.banner h1 {
    font-size: 9.375rem;
    color: #000000;
    font-family: 'Amiri', serif;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -11.25px; 
}

.banner input[type="text"] {
    padding: 7.5px 15px; 
    margin-top: 1.25rem; 
    width: 455px;
    height: 70px; 
    font-size: 1.25rem; 
    background-image: url("/static/media/searchbar.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 0px;
    color: #FFFFFF;
    outline: none;
    font-family: 'Inter', sans-serif;
    text-indent: 53.75px; 
}

.banner input[type="text"]:focus {
    outline: none;
}

.banner input[type="text"]::placeholder {
    font-style: italic;
    color: #ffffff;
}

.databank {
    background-color: #f0f0f0;
    padding: 50px 0; 
    text-align: left;
    width: 100%;
    user-select: none;
}

.databank h2 {
    font-size: 3.125rem; 
    color: #000000;
    margin-bottom: 6.25px; 
    margin-left: 37.5px; 
    font-family: 'Amiri', serif;
    line-height: 1.2;
}

.databank p {
    font-size: 1.625rem; 
    color: #666;
    margin-left: 37.5px; 
    margin-bottom: 25px; 
    line-height: 1.2;
    font-weight: 300;
}

.image-links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 25px; 
    gap: 10px; 
    width: 100%;
    margin: 0 auto;
}

.image-links a img {
    width: 100%;
    max-width: 562.5px; 
    border-radius: 12.5px;
    transition: transform 0.3s ease;
}

.image-links a img:hover {
    transform: scale(1.05);
}

.gallery {
    background-color: #000000;
    padding: 50px 0;
    color: #ffffff;
    width: 100%;
    user-select: none;
}

.gallery h2 {
    font-size: 3.125rem;
    color: #ffffff;
    margin-bottom: 6.25px;
    margin-left: 37.5px; 
    font-family: 'Amiri', serif;
    line-height: 1.2;
}

.gallery p {
    font-size: 1.625rem;
    color: #666;
    margin-left: 37.5px;
    margin-bottom: 25px; 
    line-height: 1.2;
    font-weight: 300;
}

.gallery-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
    padding: 0 25px; 
    width: 100%;
    margin: 0 auto;
}

.gallery-images img {
    width: 100%;
    max-width: 562.5px; 
    border-radius: 12.5px;
    transition: transform 0.3s ease;
}

.gallery-images img:hover {
    transform: scale(1.05);
}

@media (max-width: 1450px) {
    .image-links, .gallery-images {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 900px) {
    .image-links, .gallery-images {
        grid-template-columns: 1fr;
    }
}

.sitemap {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    user-select: none;
}

.sitemap h2 {
    margin-top: 50px;
    font-size: 50.25px; 
    font-family: 'Amiri', sans-serif;
    margin-left: 37.5px; 
    margin-top: 30px; 
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 45px;
}

.sitemap p1 {
    font-size: 23px;
    font-family: 'Inter', serif;
    margin-left: 37.5px; 
    color: #939393;
    font-weight: 300;
    letter-spacing: -1px;

}

.sitemap p2 {
    font-size: 20px; 
    font-family: 'Inter', serif;
    margin-left: 37.5px; 
    margin-top: 25px; 
    display: inline-block;
}

.sitemap hr {
    width: auto;
    margin-left: 25px; 
    margin-right: 37.5px; 
    margin-top: 25px; 
    height: 3px; 
    color: #c2c2c2;
    border: none;
    background-color: #c2c2c2;
}

.logos-container {
    display: flex;
    align-items: flex-start;
    gap: 10px
}

.hengill-logo {
    margin-top: 10.5px;
    margin-left: 31px;
}
.polylogue-logo {
    margin-top: 21px;
}

.logos-container a img {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.logos-container a:hover img {
    transform: scale(1.1);
    opacity: 0.8;
}

